section.mp-page-card {
	min-height: calc(100vh - 124px);;
	margin-bottom: 1.4rem;
	border-top-left-radius: 32px;
	border-top-right-radius: 32px;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: #d0dfe3;
	box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
}
section.mp-page-card tf-ng-page-title-breadcrumbs{
	z-index: 5;
}
section.mp-page-card .mp-page-card-bottom{
	z-index: 0;
	padding: 0 1px;
	display: block;
	width: 100%;
	margin-top: -45px;
}
.mp-search-wrapper{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.mp-search-wrapper .filters-column{}

.mp-search-wrapper .results-column{
	flex:1 1 0%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
}
@media (min-width: 640px){
	section.mp-page-card .mp-page-card-bottom{
		padding: 0 10px;
	}
	.mp-search-wrapper{
		flex-direction: row;
	}
}
