
.mp-search-wrapper{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.mp-search-wrapper .filters-column{}

.mp-search-wrapper .results-column{
	flex:1 1 0%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
}
@media (min-width: 640px){
	section.mp-page-card .mp-page-card-bottom{
		padding: 0 10px;
	}
	.mp-search-wrapper{
		flex-direction: row;
	}
}
