
.mp-confirm-wrapper{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.mp-confirm-wrapper .title-row{
	height:60px;
	margin-top: 30px;
	border-bottom: solid 1px #9BA7AA;
	padding:0 1rem 0.5rem;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}
.mp-confirm-wrapper .title-row span.instructions{
	font-weight: 700;
	font-size: 1.25rem;
	margin-right: 68px;
	flex:1 1 0%;
}
.mp-confirm-wrapper .courses-row{
	flex:1 1 0%;
	padding:1rem 2rem;
	transition: opacity 350ms ease-in-out;
}
.mp-confirm-wrapper .courses-row.disabled{
	opacity: 0.75;
	pointer-events: none;
}
span.no-data{
	margin: 0.25rem auto;
	padding: 0.25rem;
	display: block;
}



.header-titles{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-bottom: 0.25rem;
}
.header-titles .items{
	flex:1 1 0%;
	display: flex;
	flex-direction: row;
	padding: 0.25rem;
	margin-left:30px;
}
.header-titles .items .supplier{
	width: 30%;
}
.header-titles .items .delegate,
.header-titles .items .course,
.header-titles .items .date{
	width:20%;
}
.header-titles .items .price{
	width:10%;
	display: flex;
	justify-content: flex-end;
}
.totals-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 0.5rem;
}
.totals-wrapper .totals{
	min-width: 200px;
	max-width: 40%;
	background-color: #224595;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
}
.totals-wrapper .totals .container{
	padding: 0.5rem;
	color: #ffffff;
	display: flex;
	flex-direction: column;
}
.totals-wrapper .totals .container.bottom{
	border-top: solid 1px #FFFFFF;
}
.totals-wrapper .totals .total-row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.confirm-wrapper{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-top: 0.5rem;
}
.confirm-wrapper button{
	min-width: 200px;
	max-width: 40%;
}
@media (min-width: 640px){
	.mp-confirm-wrapper .courses-row{
		padding:1rem 6rem;
	}
}
