<div class="search-filters form-hero-card">

	<form 
		*ngIf="inited"
		nz-form 
		[formGroup]="searchFiltersForm" 
		(ngSubmit)="submitForm()" 
		nzLayout="vertical">

		<nz-form-item>
			<nz-form-label nzFor="delegate">
				Delegate 
				<span 
					class="label-prefix" 
					*ngIf="selectedDelegate"
				>
					{{ selectedDelegate | getUsersTennantJobRole: tennantService.tennant }}
				</span> 
			</nz-form-label>
			
			<!-- [nzTooltipVisible]="!searchFiltersForm.get('delegate')?.touched && !forceCloseTT" -->
			<nz-form-control 
				*ngIf="inited"
				nzErrorTip="The input is not valid E-mail!" 
				[nzTooltipTitle]="delegateTooltipTemplate" 
				nzTooltipPlacement="right" 
				nz-tooltip
				[nzTooltipTrigger]="null"
				[nzTooltipVisible]="!forceCloseTT"
			>
				<nz-input-group [nzPrefix]="prefixUser">
					<input 
						placeholder="Start typing delegates name" 
						nz-input 
						formControlName="delegate" 
						id="delegate" 
						(input)="onDelegateInput($event)" 
						[nzAutocomplete]="autoDelegate" 
					/>
					<nz-autocomplete 
						nzBackfill 
						#autoDelegate
					>
						<nz-auto-option 
							*ngIf="delegatesLoading"
							nzDisabled 
							nzCustomContent
						>
							<i nz-icon nzType="loading" class="loading-icon"></i> Loading Delegates...
						</nz-auto-option>
						
						<ng-container *ngFor="let option of delegateOptions">
							<nz-auto-option 
								*ngIf="!delegatesLoading"
								[nzValue]="(option | getUsersFullName)"
								(click)="onDelegateAutoSelected(option)"
							>{{ option | getUsersFullName }}</nz-auto-option>
						</ng-container>
					
					</nz-autocomplete>


				</nz-input-group>
			</nz-form-control>
		</nz-form-item>

		<nz-form-item>
			<nz-form-label nzFor="course">Course</nz-form-label>
			<nz-form-control nzErrorTip="You need to input a course">
				<nz-input-group [nzPrefix]="prefixSearch">
					<input 
						placeholder="Start typing course name" 
						nz-input 
						formControlName="course" 
						id="course" 
						(input)="onCourseInput($event)" 
						[nzAutocomplete]="autoCourse" 
					/>
					<nz-autocomplete 
						nzBackfill 
						#autoCourse
					>
						<nz-auto-option 
							*ngIf="coursesLoading"
							nzDisabled 
							nzCustomContent
						>
							<i nz-icon nzType="loading" class="loading-icon"></i> Loading Courses...
						</nz-auto-option>
						
						<ng-container *ngFor="let option of courseOptions">
							<nz-auto-option 
								*ngIf="!coursesLoading"
								[nzValue]="option.name"
								(click)="onCoursesAutoSelected(option)"
							>{{ option.name }}</nz-auto-option>
						</ng-container>

						<nz-auto-option 
							*ngIf="!coursesLoading && courseOptions.length"
							nzDisabled 
							nzCustomContent
							class="alternative-course-option"
						>
							<span nzTypography class="blue">
								Can't find your choice? 
								<strong><a [href]="altFormUrl" title="Alternative booking form" class="underlined">Use this form</a></strong>
							</span>
						</nz-auto-option>
			
					</nz-autocomplete>
				</nz-input-group>
			</nz-form-control>
		</nz-form-item>

		<!-- <nz-form-item>
			<nz-form-label nzFor="type">Type</nz-form-label>
			
			<nz-form-control>
				
				<div class="fake-input-group">
					<i nz-icon nzType="menu" nzTheme="outline" class="fake-input-group-prefix-icon"></i>
					<nz-select 
						[nzDisabled]="disableFilters"
						nzPlaceHolder="Select a course type"
						formControlName="type" 
						id="type"
						class="force-select-prefix"
					>
						<nz-option *ngFor="let type of typeOptions" 
							[nzValue]="type.value"
							[nzLabel]="type.name"
						></nz-option>
					</nz-select>
				</div>

			</nz-form-control> 

		</nz-form-item> -->

		<nz-form-item>
			<nz-form-label nzFor="location">Location</nz-form-label>
			<nz-form-control>
				
				<div class="fake-input-group">
					<i nz-icon nzType="environment" nzTheme="outline" class="fake-input-group-prefix-icon"></i>
					<nz-select 
						[nzDisabled]="disableFilters"
						nzPlaceHolder="Select a location"
						formControlName="location" 
						id="location"
						class="force-select-prefix"
					>
						<nz-option *ngFor="let location of locationOptions" 
							[nzValue]="location.name"
							[nzLabel]="location.name"
						></nz-option>
					</nz-select>
				</div>
			</nz-form-control> 

		</nz-form-item>

		<nz-form-item>
			<nz-form-label nzFor="startDate">Start Date</nz-form-label>
			<nz-form-control>
				<div class="fake-input-group">
					<i nz-icon nzType="calendar" nzTheme="outline" class="fake-input-group-prefix-icon"></i>
					<nz-date-picker 
						[nzDisabled]="disableFilters"
						class="date-picker"
						[nzFormat]="dateFormat"
						formControlName="startDate" 
						id="startDate"
						[nzSuffixIcon]="suffixDate"
					></nz-date-picker>
				</div>
			</nz-form-control>
		</nz-form-item>

		<!-- <nz-form-item class="submit-area">
			<nz-form-control> -->
				<button 
					[disabled]="!this.searchFiltersForm.dirty ? true : !this.courseService.course ? true : false" 	
					nz-button 
					nzType="primary"
					class="search-btn"
				>{{ !initialSearchComplete ? "Search" : "Update Results" }}</button>
			<!-- </nz-form-control>
		</nz-form-item> -->


	</form>
</div>

<div class="search-alternative-form">
 <span class="blue">
	 If you need to choose a paticular supplier please <strong><a [href]="altFormUrl" title="Alternative booking form" class="underlined">use this form</a></strong>
 </span>
</div>

<ng-template #prefixUser>
	<i nz-icon nzType="user"></i>
</ng-template>
<ng-template #prefixSearch>
	<i nz-icon nzType="search"></i>
</ng-template>
<!-- <ng-template #prefixType>
	<i nz-icon nzType="menu"></i>
</ng-template> -->
<!-- <ng-template #prefixLocation>
	<i nz-icon nzType="environment" nzTheme="outline"></i>
</ng-template> -->

<ng-template #suffixDate></ng-template>

<ng-template #delegateTooltipTemplate>
	<div class="tooltip-container" *ngIf="!forceCloseTT">
		<span>If you want to add multiple delegates, you can leave this&nbsp;blank</span>
		<button 
			nz-button 
			nzSize="small" 
			nzShape="circle" 
			class="navy" 
			(click)="onForceCloseTT()"
		>
			<i nz-icon nzType="close"></i>
		</button>
	</div>
</ng-template>