<nz-collapse [nzBordered]="false" nzExpandIconPosition="right">
	<nz-collapse-panel
		#p
		nzHeader="Additional booking information"
		[nzActive]="false"
		[ngStyle]="{
			background: '#ECF2F3',
			'box-shadow': '0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05)',
			'border-radius': '5px',
			'margin-top': '24px',
			'margin-bottom': '24px',
			border: '0px',
			display: 'flex',
			'flex-direction': 'column',
			'justify-content': 'center',
			'align-items': 'center'
		}"
		nzExpandedIcon="plus"
	>

		<tf-ng-form-card>

			<form nz-form [formGroup]="additionalNotesForm" nzLayout="vertical">
				
				<div nz-row >
					<nz-form-item nz-col nzSpan="11">
						<nz-form-label nzFor="poNumber">PO Number</nz-form-label>
						<input nz-input formControlName="poNumber" id="poNumber" />
					</nz-form-item>

					<div nz-col nzSpan="11" nzOffset="2">
						<nz-form-item >
							<nz-form-label nzFor="level">Level</nz-form-label>
							<input nz-input formControlName="level" id="level" />
						</nz-form-item>
					</div>
				</div>

				<nz-form-item>
					<nz-form-label nzFor="tmsCost">TMS Cost</nz-form-label>
					<textarea nz-input formControlName="tmsCost" id="tmsCost" placeholder="If a TMS Cost, state why"></textarea>
				</nz-form-item>

				<nz-form-item>
					<nz-form-label nzFor="trainingReason">Training Reason</nz-form-label>
					<textarea nz-input formControlName="trainingReason" id="trainingReason" placeholder="Optional notes for training reasons"></textarea>
				</nz-form-item>


			</form>
			
		</tf-ng-form-card>

	</nz-collapse-panel>
</nz-collapse>