.course-schedule-wrapper{
	background-color: #FFFFFF;
	padding: 0.25rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-radius: 5px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
	margin-bottom: 0.25rem;
}

.course-schedule-wrapper .supplier{
	width: 30%;
}
.course-schedule-wrapper .delegate,
.course-schedule-wrapper .course,
.course-schedule-wrapper .date{
	width:20%;
}
.course-schedule-wrapper .price{
	width:10%;
	display: flex;
	justify-content: flex-end;
}